@import "tailwindcss";

@theme {
  /* Biru Utama (Ocean Blue) */
  --color-primary: #006295;
  --color-primary-dark: #004a70;
  
  /* Kombinasi Abu-abu */
  --color-neutral-bg: #f3f4f6;   /* Abu-abu sangat muda untuk latar belakang */
  --color-neutral-text: #374151; /* Abu-abu tua untuk teks utama */
  
  /* Warna Aksen (Tetap Oranye agar Tombol tetap 'menyala') */
  --color-secondary: #f59e0b;
}

@source "../app";
@source "../components";